
<h3>Tweet一覧</h3>

<%= form_tag(tweets_path, method: :get) do %>
<% Tag.all.group_by(&:category).each do |category, tags| %>
    <h3>■<%= category %></h3>

    <div class="tags large-tags">
      <% tags.select { |tag| tag.size == "large" }.each do |tag| %>
        <label>
          <%= check_box_tag "tag_ids[#{tag.id}]", 1, params.dig(:tag_ids, tag.id.to_s) == "1" %>
          <%= tag.name %>
        </label>
      <% end %>
    </div>

    <div class="tags small-tags">
      <% tags.select { |tag| tag.size == "small" }.each do |tag| %>
        <label>
          <%= check_box_tag "tag_ids[#{tag.id}]", 1, params.dig(:tag_ids, tag.id.to_s) == "1" %>
          <%= tag.name %>
        </label>
      <% end %>
    </div>
  <% end %>
  

  <%= submit_tag '検索' %>
<% end %>

<%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
<%= text_field_tag :tag %>
<%= submit_tag 'タグを追加' %>
<% end %>

<div class="tweets-container">
  <% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
  <% end %>

<% @tweets.each do |t| %>
    <div class="tweet">
        <%= t.place %>
        <%= t.comment %>


<% if t.image.attached? %>
            <%= image_tag t.image, size: '250x200'%>
<% end %>      

        <% if t.user.image.attached? %>
<%= image_tag  t.user.image, size: '250x200'%>
<% end %>

<% if user_signed_in? %>
<% if current_user.already_liked?(t) %>
<%= link_to  tweet_like_path(id: t.id, tweet_id: t.id), data: { turbo_method: :delete } do %>
<i class="fas fa-heart"></i><%= t.likes.count %>
<% end %>
<% else %>
<%= link_to  tweet_likes_path(id: t.id, tweet_id: t.id), data: { turbo_method: :post }  do %>
<i class="far fa-heart"></i><%= t.likes.count %>
<% end %>
<% end %>
<% else %>
<i class="far fa-heart"></i><%= t.likes.count %>
<% end %>

    </div>
<%= link_to "詳細へ", tweet_path(t.id) %>
<% if user_signed_in? && current_user.id == t.user_id %>
<%= link_to "編集する", edit_tweet_path(t.id) %>
<%= link_to "削除する", tweet_path(t.id), data: { turbo_method: :delete } %>
<% end %>
</div>
<% end %>
<%= paginate @tweets %>
